.btn{
    padding: 5px 15px;
    color: beige;
    background-color: crimson;
    border: none;
    border-radius: 8px;
    margin:50px 48% 20px ; 
}
.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 8px 1px rgb(61, 252, 44);
} 